.profileContainer {
  .profile {
    text-align: center;
    display: inline-block;
  }
}
.transactions {
  margin: 50px 0;
  height: 100%;
  padding: 10px;
  display: block;
}

ion-avatar {
  margin-right: 10px;
}

ion-item {
  margin-top: 10px;
}
